<html>

<body>
    <h1> <%=data.status%></h1>
    <form action="/loginsubmit" method="POST">
        Username: <input type="text" name="username"><br />
        Password: <input type="password" name="password"><br />
        <input type="submit" name="submit" value="Submit"><br />
        <a href="/registration">Not registered?</a>
    </form>
</body>

</html>