<html>
	<head><title>User Registration</title></head>	
  <body>
	<form action="/register" method="POST">
		Choose Username: <input type="text" name="username"><br />
		Choose Password: <input type="password" name="password"><br />
		<input type="submit" name="submit" value="Submit"><br />
	</form>		
  </body>
</html>