<html>

<head>
	<title>atmosphere Registration</title>
</head>

<body>
	<h1> <%=data.register%></h1>
	<form action="/register" method="POST">
		Create Username: <input type="text" name="username" placeholder="Username" required><br />
		Create Password: <input type="password" name="password" placeholder="Password" required><br />
		<input type="submit" name="submit" value="Submit"><br />
	</form>
</body>

</html>