html, body {
  margin: 0;
  padding: 0;
  background-color: #EAF2D7;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: medium;
  color: #202A25;
  width: 250px;
  margin: 20px auto;
  text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: 500;
    color: #FF6B35;
    width: 250px;
    height: 10px;
    margin: 1px auto;
    text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  margin: auto;
}

.button-container button {
  margin: 0px;
}