html, body {
  margin: 0;
  padding: 0;
  background-color: #EAF2D7;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30;
  color: #202A25;
  width: 250px;
  height: 0;
  margin: 20px auto;
  text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: 400;
    color: #306B34;
    width: 250px;
    height: 10px;
    margin: 1px auto;
    text-align: center;
}

figcaption{
  font-family: 'Roboto', sans-serif;
    font-size: xx-small;
    font-weight: 300;
    color: #777777;
    text-align: center;
}

.header{
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #BBE09A;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  margin: auto;
}

.button-container button {
  margin: 5px;
}

.homepageAnimation{
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 99%;
}

#myButton {
  display: flex;
  margin: 5px auto;
  width: 250px;
}

.mdc-button {
  --mdc-theme-primary: #202A25;
}

.mdc-snackbar__action:not(:disabled) {
  color: #202A25;
}

.mdc-snackbar__surface {
  background-color: rgb(255, 254, 244);
}

.mdc-snackbar__label{
  color: #202A25;
}