html, body {
  margin: 0;
  padding: 0;
  background-color: #EAF2D7;
}

h1 {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: x-large;
  color: #202A25;
  width: 250px;
  height: 0;
  margin: 10px auto;
  text-align: left;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: 400;
    color: #306B34;
    width: 250px;
    height: 10px;
    margin: 1px auto;
    text-align: center;
}

ul {
  padding-top: 25px;
  font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 300;
    color: #306B34;
    width: 250px;
    margin: auto;
    text-align: left;
}
p {
  font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: 300;
    color: #202A25;
    width: 250px;
    margin: auto;
    text-align: left;
}


.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  margin: auto;
}

.button-container button {
  margin: 5px;
}

.homepageAnimation{
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

#myButton {
  display: flex;
  margin: 5px auto;
  width: 250px;
}

.mdc-button {
  --mdc-theme-primary: #202A25;
}
