html, body {
  height: 540px;
  width: 320px;
  margin: 0;
  padding: 0;
  background-color: #EAF2D7;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: x-large;
  color: #202A25;
  width: 250px;
  height: 0;
  margin: 20px auto;
  text-align: left;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    color: #FF6B35;
    width: 250px;
    height: 5px;
    margin: 0 auto;
    text-align: center;
}

.firstname,
.lastname,
.username,
.password {
  display: flex;
  margin: 2px auto;
  width: 250px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 250px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}