html, body {
  margin: 0;
  padding: 0;
  background-color: #EAF2D7;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: x-large;
    color: #202A25;
    width: 250px;
    height: 0;
    margin: 20px auto;
    text-align: left;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    color: #F46036;
    width: 250px;
    height: 5px;
    margin: 0 auto;
    text-align: center;
}

.username,
.password {
  display: flex;
  margin: 2px auto;
  width: 250px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 250px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

.mdc-button {
  --mdc-theme-primary: #202A25;
}

.mdc-snackbar__action:not(:disabled) {
  color: #202A25;
}

.mdc-text-field{
  --mdc-theme-primary: #202A25;
}

.mdc-text-field .mdc-line-ripple {
  background-color: #202A25;
  /* @alternate */
  background-color: var(--mdc-theme-primary, #202A25);
}

.mdc-text-field .mdc-text-field__input {
  caret-color: #202A25;
  /* @alternate */
  caret-color: var(--mdc-theme-primary, #202A25);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: #202A25;
  /* @alternate */
  border-color: var(--mdc-theme-primary, #202A25);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #202A25;
}